.card {
    border-radius: 0.5rem;
    background-color: white;
    margin-bottom: 20px;
}

.image {
    width: 100%;
    aspect-ratio: 2/2;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card_body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card_title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card_description {
    margin-bottom: 1rem;
}